.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
 }
 h3{
     background-color: Black;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding:0px 0px 0px 20px;
 }